* {
  margin: 0px;
  padding: 0px;
}
.container {
  width: 90%;
  margin: 0px;
  background-color: rgb(26,38,52);
  padding: 30px;
  border-radius: 8px;
}
.intro {
  text-align: left;
}
.row1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}
.box1 {
  border-style: solid;
  border-width: 5px;
  border-color: rgb(234,234,234);
  background-color: rgb(26,38,52);
  border-radius: 10px;
}
body {
  padding: 30px;
  background-color: rgb(32,62,95);
  font-family: Geneva, Arial, cursive;
}
h1 {
  color: rgb(255,204,0);
  font-family: Geneva;
  font-size: 45px;
}

h2 {
  color: rgb(255,204,0);
  font-family: Geneva;
  font-size: 35px;
}
p {
  color: rgb(254,229,177);
}
ul {
  color: rgb(254,229,177);

}
ol {
  color: rgb(254,229,177);

}
a {
  padding: 30px;
  padding-right: : 20px;
  text-decoration: none;
}
a:hover {
  color: rgb(234,234,234);
  font-size: 30px;
  text-decoration: underline;
  padding-right: : 20px;

}
img {
  border-radius: 8px;
  width: 100%;

}
a:link.box, a:visited.box {
  font-size: 20px;
  background-color: rgb(26,38,52);
  color: rgb(254,229,177);
  border: 2px solid rgb(255,204,0);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover.box, a:active.box {
  font-size: 20px;
  background-color: rgb(255,204,0);
  color: white;
}
